.navLeft {
  height: calc(100vh - 70px) !important;
}

.principal {
  height: calc(100vh - 70px) !important;
}

nav {
  background-color: whitesmoke;
}

.main_content {
  margin-top: 70px;
}

@media (max-width: 991.98px) {
  #navbarToggler button {
    width: 50% !important;
  }
}
