body {
  background-image: url('img/logo_repeat.png');
  background-repeat: repeat;
  cursor: url('img/cursor_thanos.png') 0 0, pointer !important;
}

body:active {
  cursor: url('img/chaquido_thanos.png') 0 0, pointer !important;
}

.btn {
  cursor: url('img/cursor_thanos.png') 0 0, pointer !important;
}

#button_logout {
  cursor: url('img/fuckyou.png') 15 -75, pointer !important;
}

/*****
FUENTES
*****/

@font-face {
  font-family: 'Bangers';
  src: url('Bangers.ttf');
}

@font-face {
  font-family: 'Comic';
  src: url('comic.ttf');
}

/*****
MENU
*****/

.navleft {
  height: calc(100vh - 102px) !important;
  background: #1f5dd965;
  left: 5% !important;
}

.navtop {
  background: #ffffff;
}

/*****
MAIN
*****/
.main {
  margin-top: 80px;
}

.list_content {
  height: calc(100vh - 102px) !important;
  top: 0 !important;
  left: 20% !important;
}

/*****
CATEGORY
*****/
.category_button {
  background: #ffffff;
  cursor: url('img/cursor_thanos.png') 0 0, pointer !important;
  font-family: 'Bangers';
  font-size: 15px;
  letter-spacing: 1px;
}

.category_button:hover {
  background: #1f5dd9;
  color: #ffffff;
}

#title_category {
  font-family: 'Bangers';
}

.category_button {
  cursor: url('img/cursor_thanos.png') 0 0, pointer !important;
}

.category_button:active {
  cursor: url('img/chaquido_thanos.png') 0 0, pointer !important;
}

.link {
  cursor: url('img/cursor_thanos.png') 0 0, pointer !important;
}

/*****
MEME
*****/
.title_meme {
  background: #1f5dd965;
}

.footer_meme {
  background: #1f5dd965;
}

#comments {
  font-family: 'Comic';
}
.comment_meme {
  border: 2px solid #ffffff;
}

.button_positive {
  border: 2px solid #ffffff;
  transition: all 0.5s ease-out;
}

.button_positive:hover {
  border: 2px solid #1f5dd9;
  background: #1fd97c80;
  transition: all 0.5s ease-out;
}

.button_positive:hover small {
  color: #1f5dd9 !important;
}

.button_negative {
  border: 2px solid #ffffff;
  transition: all 0.5s ease-out;
}

.button_negative:hover {
  border: 2px solid #1f5dd9;
  background: #d91f1f80;
  transition: all 0.5s ease-out;
}

.button_negative:hover small {
  color: #1f5dd9 !important;
}

.card_comment_footer {
  background: transparent;
  border: none;
}

.card_comment_footer button {
  background: #1f5dd9;
}

.card_comment_footer button:hover {
  background: #1f5dd977;
}

.comment_user {
  background: #1f5dd9;
  color: white;
}

.comment_user p {
  font-size: small;
}

.title_meme {
  font-family: 'Bangers';
}

.icon_modal {
  color: #1f5dd9;
}

.img-meme {
  min-height: 500px !important;
  height: 500px !important;
}

/*****
MODAL LOGIN
*****/

.modal_body {
  background: #1f5dd965;
}

.icon_modal {
  color: #1f5dd9;
}

.navbar button {
  font-family: 'Bangers';
  font-size: 15px;
  letter-spacing: 1px;
}

label {
  font-family: 'Bangers';
  font-size: 15px;
  letter-spacing: 1px;
}

/******
USER PROFILE  
*******/
.profilePhoto {
  width: 138px;
  height: 138px;
  border-radius: 50%;
}

.card {
  background: #1f5dd965;
  font-family: 'Bangers';
}

.item-perfil {
  background: #1f5dd965;
}

@media (max-width: 991.98px) {
  #navbarToggler button {
    width: 50% !important;
  }

  .list_content {
    left: 0 !important;
  }
}
